body {
    background-color: #F4E7D9;
    background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/123/196/original/7896e01406056a8d334d6fc2c07941dd.jpg?1713130381");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Caprasimo", serif;
    max-width: auto;
    margin: 90px 400px 200px 400px;
}
a {
    color: green;
    cursor: pointer;
}
select {
    width: 250px;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: brown;
    color:wheat;
    font-family: "Caprasimo", serif;
    cursor: pointer;
}
h1 {
    font-size: 100px;
    background: url("https://64.media.tumblr.com/a237a53cf10e7f3236931e38ba14f7b9/tumblr_n0gbjmB5lO1rt67t1o1_500.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    margin: 0 30px;
}
h2 {
    color: teal;
    font-weight: 100px;
}
footer {
    text-align: center;
    color: purple;
    font-size: 20px;
}
.container {
    text-align: center;
    background-color: rgb(173, 216, 230, 0.8);
    border-radius: 40px;
    box-shadow: 10px 10px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
}
.cities {
   text-align: left;
   transform: translate(50px, 0px);

}
.description {
    font-family: "Concert One", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    color: #422800;
}

.date {
    display: block;
    opacity: 40%;
    transform: translate(0, -30px);
}

.time {
    display: flex;
    justify-content: end;
    font-size: 40px;
    margin: 0 30px;
    transform: translate(20px, -50px);

}

.buttons {
    display: block;
    transform: translate(280px, -300px);
}

.la-city,
.paris-city {
    margin-top: 20px;
    width: 400px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border-style: dotted;
    border-color: rgba(0, 0, 0, 0.4);
    background-color: #fbeee0;

}

.la-btn,
.paris-btn,
.mnl-btn,
.london-btn {
    margin-bottom: 10px;
   background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
   color: #422800;
    cursor: pointer;
   display: inline-block;
   font-weight: 600;
    font-size: 18px;
   padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
  user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

 }

 .london-btn:hover {
    background-color: #FAC168;
 }

 .la-btn:hover {
    background-color: #3C9277;
 }
 .paris-btn:hover {
    background-color: #73C3B6;
 }
 .mnl-btn:hover {
    background-color: #E26062;
 }

@media (min-width: 768px) {
    .la-btn,
    .paris-btn,
    .mnl-btn,
    .london-btn {
        min-width: 120px;
        padding: 0 25px;
     }
 }